:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --primary-blue: #007BFF;
  --muted-blue: #A9CCE3;
  --dark-blue: #004085;
  --neutral-gray: #F0F0F0;
  --light-sand: #F8EBD0; /* Example light sand color */
  --deep-navy: #002F4C;
  --soft-coral: #FF6F61;
}

a {
  font-weight: 500;
  color: var(--primary-blue);
  text-decoration: none;
}
a:hover {
  color: var(--soft-coral);
}



body {

  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--dark-blue);
  background-color: var(--neutral-gray);
  width: 100%; 
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

}
.roboto-medium2{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color:#333
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-medium1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.container {
  max-width: 1200px;       
  width: 100%;
  align-items: center;
  padding: 40px 0 20px;  
  margin: 0 auto;          
  box-sizing: border-box;  /* Ensures padding is included in width */
}
/* header */
.logo-img{
  width:155px;
  height: 50px;
  border-radius:15px;
  margin-right: 10px;
}
/* carousel */
.carousel{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}
#contact-info {
    display: flex;
    justify-content: space-between; /* Spread the content between left and right */
    align-items: flex-start; /* Align items to the top */
    padding: 20px; /* Add padding for spacing */
    width: 100%;
}

.left-info {
    flex-basis: 42%;
    font-size: 20px; /* Adjust the size of the left section */
    padding-right: 300px;
    align-items: flex-start;
    
}

#contact-info div:last-child {
    flex-basis: 80%; /* Adjust the size of the Contact form section */
    display: flex;
    justify-content: flex-end; /* Push the Contact form to the right */
}

/* Video */
.video-wrapper {
  position: relative;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Make the wrapper span the full width of the viewport */
  height: 100vh; /* Make the wrapper span the full height of the viewport */
}

.video {
  display: block;
  width: 100%;
  height: 100%; /* Ensure the video fills the container */
  object-fit: cover; /* Ensures the video covers the full width/height without distortion */
  opacity: 0.6;
}
/* Overlay text styling */
/* Overlay Text */
.video-overlay-text {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 26px; /* Adjust text size as needed */
  z-index: 1; /* Make sure text appears above the video */
}

/* Decorative lines in the corners */
.video-overlay-text::before,
.video-overlay-text::after {
  content: ''; /* Empty content for lines */
  position: absolute;
  background-color: #FFB74D; /* Line color */
}

/* Top left corner line */
.video-overlay-text::before {
  width: 60px; /* Length of the line */
  height: 4px; /* Thickness of the line */
  top: 40px; /* Move the line lower */
  left: 40px; /* Move it further right */
}

/* Bottom right corner line */
.video-overlay-text::after {
  width: 60px; /* Length of the line */
  height: 4px; /* Thickness of the line */
  bottom: 40px; /* Move the line higher */
  right: 40px; /* Move it further left */
}

/* Optional: Quotation marks */
.video-overlay-text::before,
.video-overlay-text::after {
  font-size: 3rem; /* Larger size for visibility */
  color: #FFB74D; /* Color for quotation mark */
}

.video-overlay-text::before {
  content: ''; /* Quotation mark */
  position: absolute;
  top: -15px; /* Move the quotation mark up */
  left: -20px; /* Move it further left */
}

.video-overlay-text::after {
  content: ''; /* Quotation mark */
  position: absolute;
  bottom: -15px; /* Move the quotation mark down */
  right: -20px; /* Move it further right */
}



/* Blur overlay to make video less visible */
.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Dark overlay on the video */
  z-index: 1; /* Place this below the text but above the video */
}

/* Fullscreen adjustments */
video:-webkit-full-screen {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Keeps the video fully stretched in fullscreen */
}

video:-moz-full-screen {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

video:-ms-fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

video:fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.video-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  pointer-events: none;
}


/* About */
.aboutLink {
  padding-left: 55px; /* This padding may still be needed if you want to offset the link slightly */
  display: block; /* Make it a block-level element */
  text-align: center; 
  margin-top: 20px; 
  margin-left: auto; 
  margin-right: auto; 
}


#company-info {
  display: flex;
  justify-content: space-between; /* Spread the content between left and right */
  align-items: flex-start; /* Align items to the top */
  padding: 20px; /* Add padding for spacing */
  width: 100%;
}
.right-div {
  max-width: 60%;
  padding-right: 30px;
}
.left-div {
  /* Optional: Set a max-width to control the space the image can occupy */
  max-width: 40%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  text-align: left;
  flex: 1.5; /* Give more space to the text */
  padding: 20px; /* Add some padding inside the text container */
  font-family: 'Roboto', sans-serif; /* Ensure typography looks modern */
  color: #333;
  font-size: 20px;
  
}
.left-div p svg { /* Targeting the DoneIcon */
  margin-right: 10px; /* Space between the icon and text */
}
.left-div h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  position: relative; /* Needed for the ::after positioning */
  padding-bottom: 20px; /* Space between the text and the underline */
}
.left-div h2::after {
  content: '';
  display: block;
  width: 60px; /* Length of the underline */
  height: 4px; /* Thickness of the underline */
  background-color: #f9b57a; /* Sandy color (use any other color if needed) */
  position: absolute;
  bottom: 0; /* Align with the bottom of the h3 */
  left: 0; /* Align with the left of the h3 */
  border-radius: 2px; /* Optional: rounded corners on the line */
}
.bigger-font{
  font-size: 46px;
}
.bigger-font1{
  font-size: 36px;
}
.about-image{
  max-width: 100%; /* Limit the image width to its container’s width */
  max-height: 500px; /* Limit the height to avoid excessive size */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for depth */
  object-fit: cover; 
}


/* services */
.services {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;

}

.service-box {
  
  text-align: center;
  cursor: pointer;
  padding: 80px; /* Increased padding for larger size */
  background-color: transparent; /* Set initial background to transparent */
  margin: 20px; /* Increased margin */
  border-radius: 40px;
  border: 5px solid rgba(0, 25, 51, 0.5); /* Navy blue border with transparency */
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out; /* Smooth transition */
  position: relative; /* Position relative for pseudo-elements */
  transform-origin: center; 
}

.service-box1 {
  
  text-align: center;
  cursor: pointer;
  padding: 80px 70px; /* Increased padding for larger size */
  background-color: transparent; /* Set initial background to transparent */
  margin: 20px; /* Increased margin */
  border-radius: 40px;
  border: 5px solid rgba(0, 25, 51, 0.5); /* Navy blue border with transparency */
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out; /* Smooth transition */
  position: relative; /* Position relative for pseudo-elements */
  transform-origin: center; 
}
.service-box1:hover {
  background-color: #A9CCE3; /* Change color on hover */
  border-color: #002F4C; /* Deep navy border on hover */
  transform: scale(1.1);
}

.service-box1 h3 {
  position: relative; /* Needed for the ::after positioning */
  padding-bottom: 20px; 
  font-size: 26px;/* Space between the text and the underline */
 color:#333;
}

.service-box1 h3::after {
  content: '';
  display: block;
  width: 60px; /* Length of the underline */
  height: 4px; /* Thickness of the underline */
  background-color: #f9b57a; /* Sandy color for the underline */
  position: absolute;
  bottom: 0; /* Align with the bottom of the h3 */
  left: 0; /* Align with the left of the h3 */
  border-radius: 2px; /* Optional: rounded corners on the line */
}

.service-box1 h4 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  bottom:265px;/* Adjust based on the desired placement */
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #002F4C;
}

.service-box1:hover h4 {
  opacity: 1;
}
.service-box:hover {
  background-color: #A9CCE3; /* Change color on hover */
  border-color: #002F4C; /* Deep navy border on hover */
  transform: scale(1.1);
}

.service-box h3 {
  position: relative; /* Needed for the ::after positioning */
  padding-bottom: 20px; 
  font-size: 26px;/* Space between the text and the underline */
 color:#333;
}

.service-box h3::after {
  content: '';
  display: block;
  width: 60px; /* Length of the underline */
  height: 4px; /* Thickness of the underline */
  background-color: #f9b57a; /* Sandy color for the underline */
  position: absolute;
  bottom: 0; /* Align with the bottom of the h3 */
  left: 0; /* Align with the left of the h3 */
  border-radius: 2px; /* Optional: rounded corners on the line */
}

.service-box h4 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  bottom:265px;/* Adjust based on the desired placement */
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #002F4C;
}

.service-box:hover h4 {
  opacity: 1;
}
/*photos */
.center-gallery {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically if needed */
}
#gallery {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically if needed */
  width: 100%; /* Ensure it takes the full width */
  height: auto; /* Allow height to adjust */
  padding: 20px; /* Add some padding if needed */
}
h1.gal {
  position: relative; /* Needed for the ::after positioning */
  padding-bottom: 20px; 
  font-size: 30px; /* Space between the text and the underline */
  color: #333;
}

h1.gal::after {
  content: '';
  display: block;
  width: 60px; /* Length of the underline */
  height: 4px; /* Thickness of the underline */
  background-color: #f9b57a; /* Sandy color for the underline */
  position: absolute;
  bottom: 0; /* Align with the bottom of the h2 */
  left: 50%; /* Align with the left of the h2 */
  transform: translateX(-50%);
  border-radius: 2px; /* Optional: rounded corners on the line */
}

/* footer */
.footer-container {
  background-color: #004085; /* Deep navy background */
  color: white;
  padding: 40px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center-align items */
  }

  .left-div, .right-div {
    max-width: 100%; /* Ensure sections use full width on small screens */
  }

  .left-div img {
    max-height: 300px; /* Adjust height for smaller screens */
  }
}

/* Base styles are already set above, so we will add media queries here */

/* For smaller screens (mobile devices) */
@media (max-width: 480px) {
  h1 {
    font-size: 2em; /* Reduce the size of h1 for smaller screens */
  }

  .container {
    padding: 20px; /* Reduce padding for mobile */
  }

  .service-box {
    padding: 40px; /* Reduce padding on service boxes */
    margin: 10px; /* Reduce margin on service boxes */
    border-radius: 20px; /* Smaller border-radius */
  }

  .service-box h3 {
    font-size: 20px; /* Smaller font size for h3 */
  }
  .service-box1 {
    padding: 40px; /* Reduce padding on service boxes */
    margin: 10px; /* Reduce margin on service boxes */
    border-radius: 20px; /* Smaller border-radius */
  }

  .service-box1 h3 {
    font-size: 20px; /* Smaller font size for h3 */
  }

  .video-wrapper {
    height: 50vh; /* Make video wrapper smaller */
  }

  #contact-info {
    flex-direction: column; /* Stack contact info vertically */
    align-items: center; /* Center align items */
  }

  .left-info {
    padding-right: 0; /* Remove right padding */
    font-size: 18px; /* Reduce font size */
  }

  .about-image {
    max-height: 300px; /* Limit image height */
  }

  h1.gal {
    font-size: 24px; /* Reduce gallery header font size */
  }
}

/* For tablets and small laptops */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    padding: 30px; /* Adjust padding for tablets */
  }

  h1 {
    font-size: 2.5em; /* Adjust h1 font size */
  }

  .service-box {
    padding: 60px; /* Moderate padding for service boxes */
    margin: 15px; /* Moderate margin for service boxes */
  }

  .service-box h3 {
    font-size: 16px; /* Adjust the font size for smaller screens */
  }

  .service-box h4 {
    font-size: 14px; /* Adjust the size of the hover text */
    bottom:180px;
  }
  .service-box1 {
    padding: 60px; /* Moderate padding for service boxes */
    margin: 15px; /* Moderate margin for service boxes */
  }

  .service-box1 h3 {
    font-size: 16px; /* Adjust the font size for smaller screens */
  }

  .service-box1 h4 {
    font-size: 14px; /* Adjust the size of the hover text */
    bottom:180px;
  }

  .services {
    flex-direction: column; /* Stack services vertically on smaller screens */
    align-items: center; /* Center-align items */
  }


  .video-wrapper {
    height: 70vh; /* Adjust video height for tablets */
  }

  .left-div, .right-div {
    max-width: 100%; /* Ensure sections use full width */
  }

  .left-div img {
    max-height: 400px; /* Adjust height for smaller screens */
  }

  .footer-container {
    padding: 20px 0; /* Adjust footer padding */
  }


/* For larger devices */
@media (min-width: 769px) and (max-width: 1200px) {
  .container {
    padding: 40px; /* Keep standard padding for larger devices */
  }

  h1 {
    font-size: 3em; /* Set base font size */
  }

  .service-box {
    padding: 80px; /* Standard padding for service boxes */
  }
  .service-box1 {
    padding: 80px; /* Standard padding for service boxes */
  }
  .video-wrapper {
    height: 80vh; /* Adjust video height for larger devices */
  }

  .footer-container {
    padding: 30px 0; /* Adjust footer padding */
  }
}

/* For large screens (desktops) */
@media (min-width: 1201px) {
  h1 {
    font-size: 3.5em; /* Increase font size for larger screens */
  }

  .service-box {
    padding: 100px; /* Increased padding for large screens */
  }
  .service-box1 {
    padding: 100px; /* Increased padding for large screens */
  }
  .video-wrapper {
    height: 90vh; /* Increase video height for larger screens */
  }
}
@media (max-width: 768px) {
  #company-info {
    flex-direction: column; /* Stack the image and text vertically */
    align-items: center; /* Center-align the content */
  }

  .left-div, .right-div {
    max-width: 100%; /* Ensure full width on mobile */
    padding: 10px; /* Adjust padding */
  }

  .left-div {
    font-size: 18px; /* Reduce text size for smaller screens */
  }

  .about-image {
    max-width: 80%; /* Ensure the image takes a smaller portion of the screen */
    height: auto; /* Maintain aspect ratio */
  }

  .left-div h2 {
    font-size: 22px; /* Slightly smaller heading for mobile */
  }
}
}